@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

/* General Styling */
body {
    background: url("../images/sport-background.jpg") no-repeat center center/cover;
    font-family: "play", Arial, Helvetica, sans-serif;
    color: rgb(23, 2, 57);
    min-height: 100vh;
}

h1 {
    text-align: center;
    color: white;
    font-size: 75px;
}

p {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

/* Start Screen styling */
.start-screen {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    padding-top: 5%;
    text-align: center;
    border-radius: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 1;
}

.open-quiz{
    background-color: rgb(23, 2, 57);
    color: white;
    border-radius: 20px;
    width: 25%;
    margin-bottom: 5%;
    margin-top: 5%;
    height: 40px;
    border-color: white;
    font-size: 20px;
}

.open-quiz:hover {
    background-color: white;
    color: rgb(23, 2, 57);
    transition: 1s;
}

/* Quiz rules section stylings*/
.quiz-rules {
    width: 40%;
    background-color: white;
    border-radius: 25px;
    margin-left: 50%;
    margin-right: 50%;
    display: flex;
    flex-direction: column;
    transform: translate(-50%, -75%);
    opacity: 1;


}

.quiz-rules h2 {
    text-align: center;
}

.button-align {
    display: inline-block;
    padding-left: 90px;
    
}
.start-quiz {
    background-color: rgb(23, 2, 57);
    color: white;
    width: 30%;
    border-radius: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
    margin-right: 10px;
    height: 30px;
}

.exit-quiz {
    background-color: rgb(23, 2, 57);
    color: white;
    width: 30%;
    border-radius: 20px;
    margin-bottom: 10px;
    margin-right: 10px;
    height: 30px;
}

.start-quiz:hover {
    background-color: white;
    color: rgb(23, 2, 57);
    transition: 1s;
}

.exit-quiz:hover {
    background-color: white;
    color: rgb(23, 2, 57);
    transition: 1s;
}